.vscode
coverage
./**/*.yaml
node_modules
src
tests
.dockerignore
.env*
.eslintignore
.eslintrc.js
.gitignore
.prettierrc
build.sh
combined.log
deployment.yaml
Dockerfile
jest.config.js
README.md
tsconfig*.json
*.key*
