# Fill in as needed then copy or move this file to .env

# The path to a file containing the JWT public key. 
JWT_SECRET_KEY_FILE=jwtRS256.key
# A sensible name to give as the issuing authority and intended audience
# https://tools.ietf.org/html/rfc7519#section-4.1
JWT_AUDIENCE=client.[Your Domain]
JWT_ISSUER=api.[Your Domain]

JOB_MAX_DEPTH=2
JOB_MAX_PARALLEL_DOWNLOADS=8
REDIS_MODE=Single
REDIS_HOSTS=myhost.local
